<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mingyun.pay.mapper.PayFeeSettingMapper">

    <resultMap type="PayFeeSetting" id="PayFeeSettingResult">
        <result property="id"    column="id"    />
        <result property="feeItemId"    column="fee_item_id"    />
        <result property="type"    column="type"    />
    </resultMap>

    <sql id="selectPayFeeSettingVo">
        select id, fee_item_id, type from pay_fee_setting
    </sql>

    <select id="selectPayFeeSettingList" parameterType="PayFeeSetting" resultMap="PayFeeSettingResult">
        <include refid="selectPayFeeSettingVo"/>
        <where>
            <if test="feeItemId != null "> and fee_item_id = #{feeItemId}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
        </where>
    </select>

    <select id="selectPayFeeSettingById" parameterType="Long" resultMap="PayFeeSettingResult">
        <include refid="selectPayFeeSettingVo"/>
        where id = #{id}
    </select>

    <insert id="insertPayFeeSetting" parameterType="PayFeeSetting" useGeneratedKeys="true" keyProperty="id">
        insert into pay_fee_setting
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="feeItemId != null">fee_item_id,</if>
            <if test="type != null and type != ''">type,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="feeItemId != null">#{feeItemId},</if>
            <if test="type != null and type != ''">#{type},</if>
        </trim>
    </insert>

    <update id="updatePayFeeSetting" parameterType="PayFeeSetting">
        update pay_fee_setting
        <trim prefix="SET" suffixOverrides=",">
            <if test="feeItemId != null">fee_item_id = #{feeItemId},</if>
            <if test="type != null and type != ''">type = #{type},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePayFeeSettingById" parameterType="Long">
        delete from pay_fee_setting where id = #{id}
    </delete>

    <delete id="deletePayFeeSettingByIds" parameterType="String">
        delete from pay_fee_setting where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>